/* Header */
header {
    width: 100%;
}

/*  HEADER Mobile */
nav {
    width: 100%;
    display: block;
    align-items: center;
    justify-content: space-between;
    background-color: var(--clr-grey-100);
    padding: .5em 2em;
    box-shadow: 1px 1px 4px 0 rgba(87, 86, 83, 0.411);
    margin: 0;
}

/*  HEADER Large Screen */
@media screen and (min-width: 680px) {
    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background-color: var(--clr-grey-100);
        padding: .5em 2em;
        margin: 0;
    }
}

/*  LOGO Mobile */
.logo {
    display: flex;
    justify-items: center;
    border-radius: 50px;
    width: 50px;
    transition: all 1s ease-in;
}

/* LOGO Large Screen */
@media screen and (min-width: 680px) {
    .logo {
        margin-left: 14em;
        border-radius: 50px;
        width: 50px;
        transition: all 1s ease-in;
    }
}

/* MENU LIST ITEMS MOBILE Screen */
@media screen and (max-width: 680px) {
    .menu {
        display: none;
    }
}

/* MENU list Large Screen */
@media screen and (min-width: 680px) {
    .menu {
        display: flex;
        align-items: center;
        margin-top: 0;
    }
}

.menu-btn:checked~.menu {
    display: block;
    max-height: 240px;
}


/* List ITEMS Mobile Screen */
li {
    list-style: none;
    text-align: center;
    font-size: 1rem;
    margin: 1em auto .5em auto;
}


/* LIST ITEMS Large Screen */
@media screen and (min-width: 680px) {
    li {
        list-style: none;
        font-size: 1rem;
        padding-left: 3em;
    }
}

a {
    text-decoration: none;
    color: var(--clr-grey-500);
}

a:hover {
    display: block;
    color: rgb(194, 194, 194);
    font-size: 1.2rem;
    transition: font-size .1s ease-in-out;
}

/* BURGER BUTTON MOBILE */
.menu-icon {
    padding: 1em 2em;
    right: 0;
    top: 14px;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

/* BURGER BUTTON AT FULL SCREEN */
@media screen and (min-width:680px) {
    .menu-icon {
        display: none;

    }
}

/* checkbox */
.menu-btn {
    display: none;
}


.nav-icon {
    position: relative;
    background-color: var(--clr-grey-500);
    height: 2px;
    width: 20px;
    display: block;
    transition: background 0.2s ease-out;
    border-radius: 100px;
}

.nav-icon:before {
    position: absolute;
    content: '';
    background-color: var(--clr-grey-500);
    height: 100%;
    width: 100%;
    display: block;
    transition: all 0.2s ease-out;
    top: -6px;
}

.nav-icon:after {
    position: absolute;
    content: '';
    background-color: var(--clr-grey-500);
    height: 100%;
    width: 100%;
    display: block;
    transition: all 0.2s ease-out;
    top: 6px;
}