:root {
    --clr-primary-500: #aa6f5d;
    --clr-neutral-100: #ddc0b4;
    --clr-background-200:  #D1AE9B;

    --ff-primary: 'Roboto', Sans-Serif;
    --ff-secondary: 'Cabin', Sans-Serif;
}
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    background-color: black;
    color: white;
    font-family: var(--ff-primary);
    height: 100vh;
}

/* Header */

nav {
    justify-self: center;
    align-items: center;
    width: 100%;
    background-color: rgb(26, 25, 25);
    padding: 1em;  
}
ul  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
li {
    list-style: none;
    font-size: 1rem;
}
a {
    text-decoration: none;
    color: white;
}
.logo {
    width: 50px;
    border-radius: 50px;
}
/* Main */
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.hero_body {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    padding: 0 .6em;
}
.hero-header {
    padding: 0;
    font-family: var(--ff-primary);
    font-size: 3rem;
    color: orange;
}
span {
    color: black;
}

section {
    margin: 3em 2em;
}
.section-header {
    font-family: var(--ff-primary);
    font-size: 1rem;
}

/* Footer */

.footer-nav {
    display: flex;
    justify-content: space-evenly;
}
.footer_svg {
    width: 12%;
}
/* Contact*/
form { 
    text-align: left;
    display: inline;
}