html {
    height: 100%;
}
body { 
    margin: 0 auto;
    background-color: rgba (255, 235, 205, 0.603);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
} 
.hero {
    font-family: Helvetica;
    font-size: 40px;
    padding-left: 40px;
}
img {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 70px;

}
nav ul li { 
  
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 30px;
    display: inline-block;
    
}
.list 
{
    color: white;
}
nav a { 
    text-decoration: none;
    color: rgb(37, 30, 10);
}
section {
    height: 320px;
    padding: 40px;
    margin: 0 auto;
}
p {
    font-family: arial;
    color: rgb(10, 1, 1);
    font-size: 18px;
}
footer {
    height: 40px;
    color: rgb(1, 17, 19);
    background-color: rgba(70, 197, 214, 0.61);
    margin-top: 60px;
    padding-top: 1px;
    padding-bottom: 20px;
    text-align: center;
}
